.aboutUs {

}

.photoContainer {
  justify-content: center;

}
.photo {
width: 100vw;
background-size:contain;


}

.aboutUsContent {
font-family: "Droid Serif",serif;
margin-left: 3%;
margin-right: 3%;
}
