.title {
  margin-left: 3%;
  margin-right: 3%;
  color: #568203;
  font-family:'Droid Serif', serif;

}

.mainContainer {
  margin-top: 3%;

}

.title h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 300%;
}
